.container {
  max-width: $main_container;
  margin: 0 auto;
  padding: 0 $m-size;
}
.content {
  background: white;
  max-width: $main_container;
  margin-top: 0;
  padding: 0 $m-size;
}
.centered{
  margin: auto;
  width: 50%;
  padding: 10px;
}
.alignRight{
  margin-bottom: 2px;
  //float: right;
  text-align: right;
  color: white;
}
